h1,
h2 {
	text-align: center;
}

body {
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

.icon {
	width: 30px;
	height: 30px;
	border-radius: 20%;
	position: fixed;
	top: 10px;
	left: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
}

.editor {
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	color: red;
	text-decoration: none;
	display: inline-block;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.born {
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	color: red;
	text-decoration: none;
	display: inline-block;
	position: fixed;
	top: 5px;
	right: 5px;
}


svg {
    max-width: 100%;
    max-height: calc(80vh - 50px);
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: red;
    text-align: center;
}


.peo {
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	color: red;
	text-decoration: none;
	display: inline-block;
	position: fixed;
	top: 5px;
	left: 5px;
}

.header {
	color: red;
	filter: brightness(70%);
}

.header:hover {
	filter: brightness(50%);
}


.href {
	color: red;
	filter: brightness(100%);
}

.href:hover {
	color: red;
	filter: brightness(60%);
}
