h1,
h2 {
	text-align: center;
}

body {
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

.icon {
	width: 30px;
	height: 30px;
	border-radius: 20%;
	position: fixed;
	top: 10px;
	left: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
}

.editor {
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	background-color: #ffffff;
	color: red;
	text-decoration: none;
	display: inline-block;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.header {
	background-color: red;
}

.header:hover {
	filter: brightness(90%);
}
